<% if @project.repository.nil? or @project.repository.scm.class != Redmine::Scm::Adapters::GitAdapter %>
  <p> this project has no git repository </p>
<% else %>
  <% form_tag :action => 'search', :project_id => @project do %>
    <%= text_field_tag :keyword, @keyword, {:autofocus=>true, :style=>'width: 300px'} %>
  <% end %>
  <%= observe_field(:keyword, :frequency => 0.5, :update => :files, :url => { :action => :live_search, :project_id => @project }) %>

  <div id="files">
    <%= render :partial => 'files' %>
  </div>
<% end %>
